* {
    font-family: 'Roboto', sans-serif;
    
}

body {
    background: black;
    display: flex;
    justify-content: center;
}

.post {
    background: white;
    width: 300px;
    height: 520px;
    border-radius: 5px;
}

.header {
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;   /* Add this */
    border-top-right-radius: 5px;  /* Add this */
}

.title--icons {
    margin: 8px;
}

.title--names h3, .title--names h4{
    margin: 0;
    font-size: 12px;
}

.title--ellipsis {
    align-items: center;
    margin-left: auto;
    padding-right: 10px;
}

.image img {
    width: 100%;
    height: auto;
}

.icons {
    margin: 5px;
    display: flex;
}

.icons i {
    margin-right: 5px;
}

#bookmark {
    margin-left: auto;
    padding-right: 1px
}

.content {
    font-size: 15px;
    margin: 7px;
}

.content p:first-of-type {
    font-size: 13px;
}